// color
$color_key           = #f7505a
$color_key_down      = #e55050
$color_key_weak      = rgb(255, 124, 132)
$color_icon          = #888
$color_font          = #555
$color_font_bright   = #fafafa
$color_font_selected = #666
$color_border        = #ddd
$color_back_hover    = #fcfcfc

// height
$height_input           = 28 px
$height_header          = 28 px
$height_issue_list_item = 20 px
$height_property_list   = 36 px

$width_tab = 6.5em
$font_size_selected = 11px
$field_border_radius = .3125em

// z-index
$z-index-message         = 1000
$z-index-header-bar      = 1000
$z-index-project-search  = 102
$z-index-timepicker      = 100
$z-index-tab-list-li     = 2
$z-index-tab-list        = 1
$z-index-tab-pane-active = 1
$z-index-project-title   = 1
$z-index-property-list   = 1
$z-index-side            = 1
$z-index-caption__title  = -1
