color_key = #f7505a
color_key_down = #e55050
color_key_weak = rgb(255, 124, 132)
color_button_font = #888
height_input = 28
height_header = 28
height_issue_list_item = 20 px
field_border_radius = .3125em
icon_size = 14
