color_key = #f7505a
color_key_down = #e55050
color_key_weak = rgb(255, 124, 132)
color_icon = #888
color_font = #555
height_input = 28
height_header = 28
height_issue_list_item = 20 px
field_border_radius = .3125em
icon_size = 14
$color_border = #ddd
$color_back = #f5f5f5
$color_back_hover = #fcfcfc
$color_font_selected = #666
$height_property_list = 36px
$width_tab = 6.5em
$font_size_selected = 11px
