height = 28
key_color = #f7505a

.dropdown
  position: relative
  display: inline-block
  text-align: left
  width: 100%
  height: height px
  vertical-align: middle

.dropdown-text
  cursor: pointer
  position: absolute
  text-indent: 10px
  line-height: height px
  background-color: #fff
  width: 100%
  padding-right: 14px
  box-shadow: 0 0 0 1px rgba(0,0,0,.1)
  border-radius: .3125em!important
  &:after
    content: '\f107'
    font-family: 'FontAwesome'
    font-size: 1.3em
    opacity: .4
    position: absolute
    top: 1px
    right: 8px

.dropdown-text,
.dropdown-content a
  color: #333
  white-space: nowrap;
  text-overflow: ellipsis
  overflow: hidden
  width: 100%

.dropdown-toggle
  font-size: 0
  z-index: 1
  cursor: pointer
  position: absolute
  top: 0
  border: none
  padding: 0
  margin: 0 0 0 1px
  background: transparent
  text-indent: -10px
  height: height px
  width: 100%

  &:focus
    outline: 0
    & ~ .dropdown-text
      border-color: #c5c5c5
      z-index: 2
      &:after
        border-width: 0 4px 5px 4px
        border-color: transparent transparent #555 transparent

.dropdown-content
  transition: opacity,top .25s ease
  list-style-type: none
  position: absolute
  top: 32px
  padding: 0
  margin: 0
  opacity: 0
  visibility: hidden
  text-indent: 10px
  line-height: height - 4px
  width: 100%
  background-color: #fff
  border: solid 1px #eee
  box-shadow: 1px 4px 6px rgba(0,0,0,.2)
  border-radius: .3125em!important
  z-index: 2
  &:after
    z-index: 4
    position: absolute
    right: 14px
    top: -9px
    content: ''
    width: 0px
    height: 0px
    border-style: solid
    border-width: 0 8px 9px 8px
    border-color: transparent transparent #bbb transparent

  li
    overflow: hidden
    transition: .25s ease
    padding-right: 5px
    &:hover
      background: key_color
      padding-left: 5px
      a
        text-decoration: none
        color: snow

  li:first-child
    padding-top: 5px
    border-radius: .3125em .3125em 0 0 !important

  li:last-child
    padding-bottom: 5px
    border-radius: 0 0 .3125em .3125em !important

  a
    display: block

    &>span:nth-of-type(1)
      margin-right: 4px

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text
  transition: box-shadow .2s ease-out;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)
  &:after
    opacity: .7

.dropdown-toggle:focus ~ .dropdown-content
  opacity: 1
  visibility: visible
  top: 38px

