Height = 28

.dropdown
  position: relative
  display: inline-block
  text-align: left
  width: 100%
  height: Height px
  vertical-align: middle

.dropdown-text::-moz-selection,
.dropdown-toggle::-moz-selection
  background: transparent
  color: inherit

.dropdown-text::selection,
.dropdown-toggle::selection
  background: transparent
  color: inherit

.dropdown-text
  cursor: pointer
  position: absolute
  text-indent: 10px
  line-height: Height px
  background-color: #fff
  width: 100%
  box-shadow: 0 0 0 1px rgba(0,0,0,.1)!important
  border-radius: .3125em!important

.dropdown-text,
.dropdown-content a
  color: #333

.dropdown-toggle
  font-size: 0
  z-index: 1
  cursor: pointer
  position: absolute
  top: 0
  border: none
  padding: 0
  margin: 0 0 0 1px
  background: transparent
  text-indent: -10px
  height: Height px
  width: 100%

  &:focus
    outline: 0
    & ~ .dropdown-text
      border-color: #c5c5c5
      z-index: 2
      &:after
        border-width: 0 4px 5px 4px
        border-color: transparent transparent #555 transparent

.dropdown-content
  transition: .25s ease
  list-style-type: none
  position: absolute
  top: 32px
  padding: 0
  margin: 0
  opacity: 0
  visibility: hidden
  text-indent: 10px
  line-height: Height - 4px
  background-color: #fff
  width: 100%
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)!important
  border-radius: .3125em!important
  &:after
    z-index: 4
    position: absolute
    right: 14px
    top: -9px
    content: ''
    width: 0px
    height: 0px
    border-style: solid
    border-width: 0 8px 9px 8px
    border-color: transparent transparent #bbb transparent

  li
    overflow: hidden
  a
    display: block
    transition: .25s ease
    &:hover
      background: #df826b
      padding-left: 5px
      text-decoration: none
      color: snow

    &>span:nth-of-type(1)
      margin-right: 4px

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text
  transition: box-shadow .2s ease-out;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)!important

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content
  opacity: 1
  visibility: visible
  top: 35px

