color_key = #f7505a
color_key_down = #e55050
color_tooltip = #f6f6f6
height_input = 28


clearfix()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both


text-ellipsis()
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


html, body
  height: 100%
  font-weight: 400
  font-size: 12px
  color: #333
  font-family: mplus-2c-regular


.wrap
  height: 100%
  overflow-y: scroll

  input.input-sm
    height 28px

  .form-control
    border: none
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
    &:hover,
    &:focus
      box-shadow: 0 0 0 1px rgba(0,0,0,.2)

  .line
    width: 70%
    height: 1px
    margin: 10px auto
    background-color: rgba(247,80,90, 0.4)

  .btn
    box-shadow: none
    background-color: transparent
    outline: none
    .active
      box-shadow: none
    &.loading
      background-color: #ebebeb
      border-color: #adadad

  .invalid
  .invalid:hover
  .invalid:focus
    border-color: #e9322d
    box-shadow: 0 0 6px #f8b9b7

.wrap > section
  clearfix()
  padding: 25px 10px 25px 10px

.wrap > section:nth-last-of-type(2)
  margin: 20px 0 0 0
  background-color: rgba(247,80,90, 1)
  padding-bottom: 0

.wrap > section:nth-last-of-type(1)
  padding: 0


message_color = #555

.message
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 253, 253, .925)), to(rgba(253, 253, 253, .8)))
  box-shadow: 0 0 1px rgba(0, 0, 0, .2)
  text-align: center
  z-index: 1000

  ul
    padding-left: 0
    margin-bottom: 0

  li
    color: message_color
    padding: 0px 10px

  .list-item
    display: inline-table
    width: 100%

  li
  .list-item
    transition: height .3s ease, opacity .25s ease

  i
    font-size: 10px
    padding-right: 8px

  i,
  span
    display: table-cell
    vertical-align: middle


.tooltip

  &.in
    opacity: 1

  &.top .tooltip-arrow
    border-top-color:    color_tooltip

  &.bottom .tooltip-arrow
    border-bottom-color: color_tooltip

  &.right .tooltip-arrow
    border-right-color:  color_tooltip

  &.left .tooltip-arrow
    border-left-color:   color_tooltip

  .tooltip-inner
    color: #111
    text-align: left
    background-color: color_tooltip


.btn-default:focus
   background-color: transparent
   outline: none

.btn-default:hover
   background-color: #ebebeb


#timer

  width_button = 34

  .select
    position: relative
    height: height_input px
    background-color: color_key
    border-radius: .3125em !important

  .inputWidhButton
    display inline-block
    padding-right width_button px
    width 100%

    & > div
      border-right: solid 1px #f5f5f5
      border-radius: .3125em 0 0 .3125em !important

    .dropdown-text
      box-shadow: none
      background-color: color_key
      color: #fff
      &:after
        opacity: .9

    .dropdown-toggle:hover ~ .dropdown-text,
    .dropdown-toggle:focus ~ .dropdown-text
      box-shadow: none
      background-color: color_key_down
      &:after
        opacity: 1

  .btn
    padding: 0px
    margin-left: 4px
    border: none
    display: inline-block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: width_button px
    color: #f5f5f5
    &:hover
      background-color: color_key_down
      color: #ffffff

    img
      width: 24px
      height: 24px

  .progress
    margin-bottom 0px
    height: height_input px

  .progress-bar
    width: 100%
    background-color: color_key
    box-shadow: none
    color: #fafafa

    span
      margin-right: -65px
      padding-right: 67px
      width: 100%
      display: inline-block
      text-ellipsis()

    span, timer
      line-height: height_input px
      vertical-align: middle

  .comment
    margin-top: 15px

    textarea
      margin 6px 0 0 0px

    div
      height: 0

    span
      position: relative
      top: -15px
      opacity: 0.8
      float: right


#issue

  .form-group
    display: inline-block
    margin-bottom: 0
    vertical-align: middle

  .project
    width: 60%
    margin-right: 5px

  .search
    width: 40%
    margin-right -5px
    padding-right 5px
    position: relative

    i
      opacity: .5
      position: absolute
      top: 8px
      right: 12px

    &:hover i
      opacity: .7

  .issueList
    ul
      margin-top: 10px
      padding-left: 4px

    li
      list-style-type: none
      height: 20px
      overflow: hidden

      .btn
        border: none
        padding: 0
        color: #aaa
        transition: .25s ease

        span
          display: inline-block
          width: 1em
          height: 1em
          line-height: 1
          position: relative
          &.icon-minus
            border-radius: 50%
            border: solid 1px
            margin: -5px 0 0 0
            vertical-align: middle
            background-image: -webkit-gradient(linear,left center,right center,from(#aaa),to(#aaa));
            background-size: 70% 1px;
            background-repeat: no-repeat;
            background-position: 45% 50%;

    li > span
      vertical-align: middle
      display: inline-block
      transition: .25s ease

    li > span:nth-child(1)
      width: 26px
      color #aaa

    li > span:nth-child(2)
      margin-right: -45px
      padding-right: 45px
      width: 100%
      text-ellipsis()

    li:hover
      & > span
        text-indent: 3px

      & > span
      .btn
        color: color_key
        .icon-minus
          background-image: -webkit-gradient(linear, left center, right center, from(color_key), to(color_key));


#options

  .form-group
    overflow: hidden

  label-width = 70

  .setting-labels
    width: label-width px
    display: inline-block
    color: #888
    label
      font-weight: normal

  .setting-options
    height: height_input + 2 px
    width: 100%
    padding: 1px label-width + 1px 0 0
    margin-right: - label-width px
    display: inline-block

  .url
    span
      display: table
      position: relative
      left: 100%
      top: -22px
      margin-left: -62px

  .selectAuth
    margin: 15px auto 15px auto
    display: table

    button
      border-color: color_key
      color: color_key
      padding: 1px 15px
      transition: background-color .2s ease
      &:hover
        border-color: color_key_down
        color: color_key_down
        background-color: #fff

    .active
      background-color: color_key
      color: snow
      &:hover
        color: snow
        background-color: color_key_down

  .save
    button
      padding: 2px 15px
      &:first-child
        margin-right 5px


#about
  margin: 0 10px 0 10px
  color: #fff

  p.privacy
    margin-bottom: 25px

  .hooter
    border-top: solid 1px rgba(255,255,255,.2)

    p
      margin: 3px 0 5px 0
      font-size: 0.9em


