key_color = #df826b

clearfix()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both


html, body
  height: 100%
  font-weight: 200
  font-size: 12px
  color: #333

input.input-sm
  height 28px

p
  font-size: 0.9em

.form-control
  border: none
  box-shadow: 0 0 0 1px rgba(0,0,0,.1)!important
  &:hover,
  &:focus
    box-shadow: 0 0 0 1px rgba(0,0,0,.2)!important

.wrap
  height: 100%
  overflow-y: scroll

.wrap > section
  clearfix()
  padding: 20px 10px 20px 10px
  background-color: #f6f6f6

.wrap > section:nth-last-of-type(2)
  padding-bottom: 5px

.wrap > section:nth-last-of-type(1)
  padding: 0


.message
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 0
  background-color: rgba(255, 255, 255, .8)
  border-top: 1px solid rgba(255, 255, 255, .9)
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, .2)
  text-align: center
  transition: .25s ease

  ul
    padding-left: 0
    margin-bottom: 0

  li
    border-bottom: solid 1px #ddd

  i
    color: #777
    font-size: 12px
    margin-right: 8px
    vertical-align: middle

  span
    color: #888
    line-height: 24px


#timer

  .inputWidhButton
    display inline-block
    padding-top 0
    width 100%
    vertical-align middle
    margin-right -26px
    padding-right 34px
    background-color: key_color
    border-radius: .3125em!important

    .dropdown-text
      box-shadow: none!important
      background-color: key_color
      border-right: solid 1px #f0d0d0
      border-radius: .3125em 0 0 .3125em !important
      color: #fafafa
      &:after
        opacity: .8

    .dropdown-toggle:hover ~ .dropdown-text,
    .dropdown-toggle:focus ~ .dropdown-text
      box-shadow: none!important
      &:after
        opacity: 1

  .iconButton
    padding: 0px
    margin-left: 4px
    background-color: transparent
    border: none
    color: #f0f0f0

    img
      width: 24px
      height: 24px

    &:hover
      color: #ffffff

    &:active
      -webkit-box-shadow: 0px 0px
      box-shadow: 0px 0px

    &:focus
      outline: none

  .progress
    margin-bottom 0px
    height: 28px

  .progress-bar
    background-color: key_color
    box-shadow: none!important

  .comment
    textarea
      margin 6px 0 0 0px

    div
      height: 0

    span
      position: relative
      top: -15px
      opacity: 0.8
      float: right


#issue

  .form-group
    display: inline-block
    margin-bottom: 0
    vertical-align: middle

  .project
    width: 60%
    margin-right: 5px

  .search
    width: 40%
    margin-right -5px
    padding-right 5px
    position: relative

    i
      opacity: .5
      position: absolute
      top: 8px
      right: 12px

    &:hover i
      opacity: .7

  .issueList
    ul
      margin-top: 10px
      padding-left: 4px

    li
      list-style-type: none
      height: 20px
      overflow: hidden
      transition: .25s ease

      span
        vertical-align: middle
        display: inline-block

      span:nth-child(1)
        width: 26px

      span:nth-child(2)
        margin-right: -45px
        padding-right: 45px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        width: 100%

      .btn
        background-color: transparent
        border: none
        padding: 0
        color: #aaa

    li:hover
      text-indent: 3px

      &,
      .btn
        color: #df826b


#options
  button
    margin-right 5px

