@import '_variable'
@import '_mixin'


html, body
  height: 100%
  font-weight: 400
  font-size: 0.88em
  color: #555
  font-family: mplus-2c-regular
  -webkit-app-region: drag

input, textarea
  -webkit-app-region: no-drag


.form-control
  border: none
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1)
  &:hover,
  &:focus
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)

.wrap
  height: 100%
  overflow-y: scroll

  input.input-sm
    height height_input px

  .btn
    box-shadow: none
    background-color: transparent
    outline: none
    .active
      box-shadow: none
    &.loading
      background-color: #ebebeb
      border-color: #adadad
    span.icon-minus
      display: inline-block
      width: 100%
      height: 1em
      line-height: 1
      position: relative
      width: 1em
      border-radius: 50%
      border: solid 1px
      margin: -5px 0 0 0
      vertical-align: middle
      background-image: -webkit-gradient(linear,left center,right center,from(#aaa),to(#aaa));
      background-size: 70% 1px;
      background-repeat: no-repeat;
      background-position: 45% 50%;

  .invalid
  .invalid:hover
  .invalid:focus
    border-color: #e9322d
    box-shadow: 0 0 6px #f8b9b7

  header
    height: 5em
    .caption
      align-center()
      height 100%
      color: color_key
      &.hover-action
        cursor: pointer
        .fa
          transition: opacity 0.2s ease
          padding: 0 4px
          font-size: 1.4em
          opacity: 0
        &:hover > .fa
          opacity: 1
    .title
      align-center()
      font-size: 1.05em
      flex: 1
    .icon
      display: table
      font-size: 1.4em
      margin: 0 8px 0 0
      span
        display: table-cell
        text-align: center
        vertical-align: middle

  #issue header .caption .title .icon
    margin: 3px 8px 0 0


.frame
  margin: 10px
  margin-top: height_header px
  overflow: hidden

  & > section
    padding: 0 0 25px 0


.message
  position: fixed
  padding: 0
  bottom: 0
  left: 0
  right: 0
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 253, 253, .925)), to(rgba(253, 253, 253, .8)))
  box-shadow: 0 0 1px rgba(0, 0, 0, .2)
  text-align: center
  z-index: 1000

  ul
    padding-left: 0
    margin-bottom: 0

  li
    padding: 0px 10px
    height: 0
    overflow: hidden
    transition: height .2s ease
    align-center()

  span
    color: #555

  i
    color: #aaa
    font-size: 0.9em
    padding-right: 8px


.tooltip

  color_tooltip = #f0f0f0

  &.in
    opacity: 1

  &.top .tooltip-arrow
    border-top-color:    color_tooltip

  &.bottom .tooltip-arrow
    border-bottom-color: color_tooltip

  &.right .tooltip-arrow
    border-right-color:  color_tooltip

  &.left .tooltip-arrow
    border-left-color:   color_tooltip

  .tooltip-inner
    color: #555
    text-align: left
    background-color: color_tooltip


.searchform
  margin-bottom: 5px

.twitter-typeahead
  width: 100%

.tt-input
.tt-hint
  border: 0
  border-radius: field_border_radius !important
  outline: none
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1)
  &:hover,
  &:focus
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)
  text-ellipsis()

.tt-hint
  color: #aaa

.tt-dropdown-menu
  width: 100%
  margin-top: 10px
  padding: 5px 0
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: field_border_radius
  box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding: 0px 8px
  height: height_input px
  line-height: height_input px
  text-ellipsis()

.tt-suggestion.tt-cursor
  color: #fff
  background-color: color_key_weak

.tt-highlight
  color: color_key_weak


body.modal-open
  margin-right: 0

.modal-header
  padding: 10px 15px
  h4
    margin: 5px 0

.modal-body
  padding: 15px
  ul
    padding-left: 25px
    margin-bottom: 0

.modal-footer
  margin-top: 0
  padding: 10px

  .btn-sm
    line-height: 1.2
    width: 4.8em


.btn-default:focus
   background-color: transparent
   outline: none

.btn-default:hover
   background-color: #ebebeb

.animate-switch-container
  position: relative

.animate-switch
  position: absolute
  width: 100%


.searchform-icon
  margin-right -5px
  padding-right 5px
  position: relative
  input
    padding-right: 22px
  i
    opacity: .5
    position: absolute
    top: 8px
    right: 12px
    padding-left: 2px
  &:hover i
    opacity: .7

.searchform-icon-before
  align-items: center
  display: flex
  position: relative
  input
    padding-right: 28px
  i
    opacity: .5
    position: absolute
    top: 8px
    right: 10px
    padding-left: 2px
  &:hover i
    opacity: .7
  .icon
    width: 20px
  .twitter-typeahead
    flex: 1

.search-icon::-webkit-search-decoration::before
  fa()
  content: "\f002"
  position: relative
  left: -5px
  color: #aaa
  transition: color .2s ease

.search-icon:hover::-webkit-search-decoration::before
.search-icon:focus::-webkit-search-decoration::before
  color: #777

.header-bar
  position: fixed
  width: 100%
  height: height_header px
  background: #fff
  transition: box-shadow .2s ease
  card(1)
  z-index: 101
  &:hover
    card(2)

.project
  height: 0

.project-id
  color #aaa

.project-label
  padding: 0 1em 0 .5em
  max-width: 80%
  display: inline-block
  vertical-align: bottom
  text-ellipsis()

.project-title
  width: 100%
  border: none
  padding: 0
  height: height_header px
  background-color: #fff
  position: absolute
  outline: none
  .fa
    font-size: 1.3em
    color #ccc
    transition: color .2s ease
  &:hover .fa
    color #666

.project-search
.project-content
  visibility: hidden
  opacity: 0

.project-search
  position: absolute
  z-index: 102
  transition: left .3s ease
  left: 40%

.project-search.active
  visibility: visible
  opacity: 1
  left: 0
  box-shadow: none

.project-content
  position: fixed
  width: 100%
  max-height: 90%
  top: -50%
  background-color: #fff
  card(3)
  transition: top .3s ease
  overflow-y: scroll

.project-content.active
  visibility: visible
  opacity: 1
  top: 20px

.account-list
  margin: 0
  padding-left: 0
  &>li
    counter-increment: account
    &>.numberedLabel
      line-height: height_input px
      margin-left: 0.5em
      padding-left: 0.2em
      border-bottom: solid 1px #ccc
    &>.numberedLabel:before
      content: counter(account)
      padding-right: 0.5em
      color #aaa

.project-list
  padding-left: 0
  &>li
    padding-left: 1em
    list-style-type: none
    transition: padding-left .2s ease
    &:hover
      padding-left: 1.5em
      background-color: color_key_weak
      & span
        color: #fff
    .numberedLabel
      width: 100%
      height: 24px

.numberedLabel
  color #555
  border: none
  padding: 0 3px 0 0
  background-color: transparent
  outline: none
  display: flex
  flex: 1

  & > span
    vertical-align: middle
    display: inline-block

.numberedLabel-number
  padding-right: 5px
  min-width: 15px
  color #aaa

.numberedLabel-label
  flex: 1
  text-align: left
  text-ellipsis()

#header
  .account-list
    &>li
      margin-top: -12px

#timer

  width_button = 34

  .select
    position: relative
    height: height_input px
    background-color: color_key
    border-radius: field_border_radius !important

  .inputWidhButton
    padding-right width_button px

    input
      border-right: solid 1px #f5f5f5
      border-radius: field_border_radius 0 0 field_border_radius !important
      box-shadow: none
      background-color: color_key
      color: #fff

    input::-webkit-input-placeholder
      color: rgba(255, 255, 255, 0.9)

  .btn
    padding: 0px
    margin-left: 4px
    border: none
    display: inline-block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: width_button px
    color: #f5f5f5
    &:hover
      background-color: color_key_down
      color: #ffffff

    img
      width: 24px
      height: 24px

  .progress
    margin-bottom 0px
    height: height_input px
    border-right: solid 1px #f5f5f5
    border-radius: 2px 0 0 2px

  .progress-bar
    width: 100%
    background-color: color_key
    box-shadow: none
    color: #fafafa
    display: flex

    span
      line-height: height_input px

    & > span
      text-ellipsis()
      padding: 0 2px
      flex: 1

    timer span
      padding-right: 7px

  .form-inline
    display: flex
    margin: 10px 0 0 0
    height: height_input px
    .activity
      flex: 5
    .separater
      width: 5px
    .time
      flex: 3
      input
        margin 0 -27px 0 0
        padding: 0 28px 0 10px
        display: inline-block
        position: relative
        top: -1px
        &:hover+span
          color: #888
      span
        line-height: height_input px
        display: inline-block
        color: #aaa
        position: relative
        left: 2px

  .comment
    margin: 10px 0 0 0

    textarea
      margin 6px 0 0 0px
      border-radius: field_border_radius !important

    div
      height: 0

    span
      position: relative
      top: -15px
      opacity: 0.8
      float: right

  .animate-switch-container
    height: 128px

  .animate-switch
    slideIn()


#issue

  .animate-height
    transition: height .32s ease

  .issueList
    ul
      margin-top: 10px
      padding-left: 4px

    li
      list-style-type: none
      height: 20px
      overflow: hidden
      display: flex

      .btn
        border: none
        padding: 0
        color: #aaa
        transition: .2s ease

      .btn.external-link:hover
        color: color_key

      &.active
        background-color: color_key
        border-radius: 10px
        transition: background-color ease 0.2s

    .active .numberedLabel, .active .numberedLabel:hover
      margin-left: 5px
      color: #fff
      span
        color #fff

    .numberedLabel:hover
      span
      .btn
        color: color_key
        .icon-minus
          background-image: -webkit-gradient(linear, left center, right center, from(color_key), to(color_key));

      .tooltip-inner span
        color: #555

  uz-pagination
    display: flex
    justify-content: center

  .pagination
    margin: 10px 10px
    width: auto
    display: flex
    justify-content: space-between
    &>li:nth-child(1)>a
    &>li:nth-last-child(1)>a
      padding: 2px 6px
    &>li:nth-child(2)>a
    &>li:nth-last-child(2)>a
      padding: 2px 8px
    &>li>a
      border: none
      border-radius: 12px
      padding: 2px 7px
      margin: 0 2px
      color: #666
      cursor: pointer
    &>.active>a
      background-color: color_key_weak
      color: #fff
    &>.disabled>a
      color: #ccc
      cursor: not-allowed


#accounts

  label-width = 70

  .form-group
    margin-bottom: 10px
    display: flex
    align-items: center

  .input-and-btn
    display: flex
    .input
      flex: 1
    .btn
      padding: 0 0 0 7px
      height: height_input px
      line-height: height_input px
      font-size: 16px
      color: #888
      transition: color .25s ease
      &:hover
        color: color_key

  .add-account
    margin: 0
    .well
      overflow: hidden
      margin-bottom: 10px
      padding: 16px 8px
    .btn
      background-color: #fff

  .auth
    position: relative
    height: 138px
    .animate-switch
      &.ng-enter
      &.ng-leave
        transition: 0.2s ease all
      &.ng-enter
        opacity: 0
        &.ng-enter-active
          opacity: 1
      &.ng-leave
        opacity: 1
        &.ng-leave-active
          opacity: 0

  .setting-labels
    width: label-width px
    color: #888
    label
      font-weight: normal

  .setting-options
    height: height_input + 8 px
    flex: 1

  .url
    span
      display: table
      position: relative
      left: 100%
      top: -22px
      margin-left: -18px
      font-size: 1.2em
      color: color_key
      background-color: #fff

  .selectAuth
    margin: 0px auto 15px auto
    display: table

    button
      border-color: color_key
      color: color_key
      padding: 0px 15px
      transition: background-color .2s ease
      &:hover
        border-color: color_key_down
        color: color_key_down
        background-color: #fff

    .active
      background-color: color_key
      color: snow
      &:hover
        color: snow
        background-color: color_key_down

  .save
    position: relative
    display: flex
    justify-content: flex-end
    button
      padding: 2px 15px

  .clear
    align-center()
    padding: 15px 0
    button
      padding: 2px 15px
      color: color_key
      i
        padding-right 6px
        font-size: 1.3em
      i, span
        vertical-align: middle

  .account-list
    padding-left: 4px
    .number
      transition: ease .2s

    & > li
      counter-increment: account
      margin-bottom: 0.5em
      cursor: pointer
      list-style-type: none
      display: flex
      align-items: center

      & > .number:before
        content: counter(account)
        padding-right: 10px
        color: #aaa

      &:hover
        .number
          padding-left: 5px
        span
        .btn
          color: color_key
        .icon-minus
          background-image: -webkit-gradient(linear, left center, right center, from(color_key), to(color_key));
        .number:before
          color: color_key

      .btn
        border: none
        padding: 0 3px
        color: #aaa

      .list-item
        width: 100%

      .list-label
        text-ellipsis()

      .list-description
        color: #aaa
        padding-left: 10px

        span
          margin-right: 10px


#options

  input[type=checkbox],
  input[type=radio]
    -webkit-appearance: none
    box-shadow: inset 0px 0px 0px 1px #e6e6e6
    border-radius: 15px
    background-color: #fff
    padding: 1px
    display: inline-block
    width: 52px
    height: 31px
    position: relative
    cursor: pointer
    transition: all .3s ease-out
    margin: 0px
    -webkit-transform: scale(.7) // Adjust size
    outline: none
    border: none

  input[type=checkbox]:checked,
  input[type=radio]:checked
    box-shadow: inset 0px 0px 0px 20px #f57f87

  input[type=checkbox]:after,
  input[type=radio]:after
    content: ''
    position: absolute
    width: 29px
    height: 29px
    border-radius: 15px
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2)
    cursor: pointer
    background-color: #fff
    left: 1px
    transition: ease-in .1s

  input[type="checkbox"]:checked:after,
  input[type="radio"]:checked:after
    left: 22px

  .settings-section
    display: flex
    align-items: center

  .setting-labels
    flex: 1
    margin-bottom: 3px

  .setting-description
   margin-left: 5px
    color: #999

  .setting-options
    input
      margin-right: -6px
    .btn-sm
      padding: 5px 7px
      margin: 0 0 0 5px
      line-height: 1.2


#about
  color: #fff
  background-color: rgba(247,80,90, 1)
  padding: 40px 10px 5px 10px
  font-family: mplus-2c-thin

  .caption
    text-align: center
    font-size: 1.7em
    color: #fff

  .version
    position: relative

    span
      position: relative
      left: 50%
      margin-left: 30px

  footer
    padding: 30px 0 0 0
    text-align: right
    p
      margin: 0
      font-size: 0.8em

