@font-face
  font-family: mplus-2c-heavy
  src: url('/fonts/mplus-2c-heavy.ttf') format('truetype')


@font-face
  font-family: mplus-2c-light
  src: url('/fonts/mplus-2c-light.ttf') format('truetype')


@font-face
  font-family: mplus-2c-regular
  src: url('/fonts/mplus-2c-regular.ttf') format('truetype')


@font-face
  font-family: mplus-2c-thin
  src: url('/fonts/mplus-2c-thin.ttf') format('truetype')
