body
  font-family 'Lucida Grande', sans-serif
  color #383838
  cursor default
  font-size 75%
  margin 0px

#wrap
  width 100%
  position relative
  height auto !important
  height 100%
  min-height 100%
  margin 0 auto -60px

h1
  font-size 2.4em
  font-family 'Lucida Grande', sans-serif
  color rgb(92, 97, 102)
  -webkit-user-select none
  font-weight normal
  line-height 1
  cursor default

ul
  list-style-type none
  padding 0

li
  -webkit-border-start 6px solid transparent
  -webkit-padding-start 18px
  -webkit-user-select none
  cursor pointer
  &.selected
    -webkit-border-start-color rgb(78, 87, 100)
    cursor default
    pointer-events none

button
  background-color white
  border 0
  color #999
  cursor pointer
  font inherit
  line-height 17px
  margin 6px 0
  padding 0

.selected
  & > button
    color rgb(70, 78, 90)

.pageSelected
  display block

.extension-settings-list
  margin-top 65px
  position absolute

.settings-section
  width 775px
  margin-bottom 25px
  display -webkit-box

.setting-name-value
  margin-left 15px

.setting-description
  color rgb(151, 156, 160)
  white-space normal
  font-size 13px
  display block
  em
    font-weight bold

.warning
  color red

.setting-options
  position relative
  -webkit-margin-end 20px
  width 330px
  padding-top 15px
  & > *
    float right
  input
    font-size 11px

.enabled-text
  font-weight bold

input
  &:required
    &:valid
      background-color #fff
      background-position 379px -61px
  &:focus
    &:required
      &:invalid
        background pink

.checkbox
  display inline-block

label
  display -webkit-inline-box
  padding-top 7px
  font-size 1.8em
  font-weight normal

.setting-labels
  width 60%

input[type='checkbox']
  bottom 2px
  height 13px
  position relative
  vertical-align middle
  width 13px
  & ~ .disabled-text
    display inline
  & ~ .enabled-text
    display none

:-webkit-any(button, input[type='button'], input[type='submit']):not(.custom-appearance):not(.link-button), select, input[type='checkbox'], input[type='radio']
  -webkit-appearance none
  -webkit-user-select none
  background-image -webkit-linear-gradient(#ededed, #ededed 38%, #dedede)
  border 1px solid rgba(0, 0, 0, 0.25)
  border-radius 2px
  box-shadow 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75)
  color #444
  font inherit
  margin 0 1px 0 0
  text-shadow 0 1px 0 rgb(240, 240, 240)

input[type='checkbox']:checked
  &::before
    -webkit-user-select none
    background-image -webkit-image-set(url('../images/options/checkbox-enabled.png') 1x, url('../images/options/checkmark.png') 2x)
    background-size 100% 100%
    content ''
    display block
    height 100%
    width 100%
  & ~ .enabled-text
    display inline
  & ~ .disabled-text
    display none

#about-description
  margin-top 100px

#optApplicationName
  font-size 4em

#optPrivacy
  font-size 2em
  margin-bottom 30px

#status
  color rgb(151, 156, 160)
  white-space normal
  font-size 13px

