
clearfix()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both


html, body
  height: 100%
  font-weight: 200
  font-size: 12px
  color: #333

select.input-sm,
input.input-sm
  height 28px

p
  font-size: 0.9em


.wrap
  height: 100%
  overflow-y: scroll

.wrap > section
  clearfix()
  padding: 20px 10px 20px 10px

.wrap > section:nth-last-of-type(2)
  padding-bottom: 5px

.wrap > section:nth-last-of-type(1)
  padding: 0

.wrap > section:nth-child(odd)
  background-color: #fcfcfc

.wrap > section:nth-child(even)
  background-color: #f0f0f0

.inputWidhButton
  display inline-block
  padding-top 0
  width 100%
  vertical-align middle
  margin-right -27px
  padding-right 27px

.iconButton
  font-size 24px
  padding 0px
  margin-left: 4px
  background-color transparent
  border: none

  &:active
    -webkit-box-shadow 0px 0px
    box-shadow 0px 0px

  &:focus
    outline: none

.message
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background-color: #333
  opacity: 0.75
  text-align: center

  span
    color: #eee

#timer

  .icon-play-sign
    color #F56F6B
    &:hover
      color #d2322d

  .icon-stop
    color #aaaaaa
    font-size 25px
    &:hover
      color #c0c0c0


  .progress
    margin-bottom 0px

  .comment
    textarea
      margin 2px 0 0 0px
      width 100%

    div
      height: 0

    span
      position: relative
      top: -21px
      opacity: 0.6


#issue

  .form-group
    display: inline-block
    margin-bottom: 0
    vertical-align: middle

  .project
    width: 60%
    margin-right: 5px

  .search
    width: 40%
    margin-right -5px
    padding-right 5px

  .issueList
    ul
      margin-top: 10px
      padding-left: 4px

    li
      list-style-type: none
      height: 20px
      overflow: hidden

      span
        vertical-align: middle
        display: inline-block

      span:nth-child(1)
        width: 26px

      span:nth-child(2)
        margin-right: -40px
        padding-right: 45px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        width: 100%

      .btn
        background-color: transparent
        border: none
        padding: 0
        color: #aaa
      .btn:hover
        color: #555


#options
  button
    margin-right 5px

