html, body
  height 100%

#wrap
  height 100%
  padding-left 5px
  padding-right 5px
  background -webkit-gradient(radial, 50% 3%, 0, 50% 30%, 190, from(#fff), to(#e0e0e0))

#submitButton
  font-size 24px
  padding 0px 3px

.iconButton
  background-color transparent
  border-color transparent

  &:active
    -webkit-box-shadow 0px 0px
    box-shadow 0px 0px

.icon-play-sign
  color #F56F6B
  &:hover
    color #d2322d

.icon-stop
  color #aaaaaa
  font-size 25px
  &:hover
    color #c0c0c0

#select
  display inline-block
  padding-top 0
  width 100%
  margin-right -30px
  padding-right 30px
  vertical-align middle

#issueSelect
  height 28px

.progress
  margin-bottom 0px

#comment
  textarea
    margin 2px 0 0 0px
    width 100%

#commentCount
  position relative
  top -21px

.label
  display inline
  padding .2em .6em .3em
  font-size 75%
  font-weight bold
  line-height 1
  color #fff
  text-align center
  white-space nowrap
  vertical-align baseline
  border-radius 4px

#inputIssueNumber
  display inline-block

#issue
  display inline-block
  width 100%
  margin-right -59px
  padding-right 64px

#issueList
  li
    list-style-type none

