#about

  p.lead
    | Redmine Time Tracker

  p.privacy
    | This application is using Google Analytics, Cookie has been used for function improvement.

  div.hooter
    p.muted
     | Copyright 2013 Yujiro Takeda All rights reserved.
