.about-description
  p#optApplicationName.lead
    | Redmine Time Tracker
  p#optPrivacy.privacy
    | This extension is using Google Analytics, Cookie has been used for the collection of tracking data.
  p.muted
   | Copyright 2013 Yujiro Takeda All rights reserved.
