#about

  header
    div.caption
      span Redmine
      span Time
      span Tracker
    div.line

  p.privacy
    | This application is using Google Analytics, and Cookie has been used for function improvement.

  footer
    p.muted
     | &copy; 2013 Yujiro Takeda
