// time track
div.select
  div.inputWidhButton

    div(ng-hide='state.isTracking')
      uz-dropdown(items='tickets', selected='selectedTicket')

    div.progress.progress-striped.active(ng-show="state.isTracking")
      div.progress-bar(role="progressbar")
        span {{selectedTicket[0].text}}
        timer(autostart='false', interval="1000") {{hours|numLength:2}}:{{minutes|numLength:2}}:{{seconds|numLength:2}}

  button.btn(type='button', ng-click='clickSubmitButton()', ga-click='postAuto')
    i.fa(ng-class="{'fa-play': !state.isTracking, 'fa-stop': state.isTracking}")


// activity & total
div.form-inline

  div.activity
    uz-dropdown(items='projects[selectedTicket[0].url].activities',
                selected='selectedActivity')

  div.separater

  div.time
    span total {{selectedTicket[0].total}} hr


// comment
div.comment
  textarea.form-control(name='comment'
    , rows='2'
    , ng-model='comment'
    , ng-maxlength='commentMaxLength'
    , placeholder='comments...'
    , ng-change='commentRemain = commentMaxLength - comment.length')
  div
    span.label.label-danger(ng-show="commentRemain < 0") {{commentRemain}}
