div#header(ng-controller="headerCtrl")

  div.header-bar
    div.project

      button.project-toggle.project-title(type="button")
        span.project-id
          {{selectedProject.id}}
        span.project-text
          {{selectedProject.text}}

      input.form-control.input-sm.project-search(type="search"
        ng-model="projectSearchText"
        ng-click="projectSearchText = ''"
        placeholder='Project...'
        autocomplete='on')

      div.project-list
        ul
          li(ng-repeat='project in projects |filter:projectFilter | orderBy:"id"')
            button.numberedLabel(type='button', ng-click="selectProject(project)")
              span.numberedLabel-number
                {{project.id}}
              span.numberedLabel-label
                {{project.text}}

