!!! 5
html(ng-app='timeTracker', ng-csp="")

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Redmine Time Tracker
    link(rel='stylesheet', href='/css/angular-csp.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/Simple-Line-Icons.css')
    link(rel='stylesheet', href='/css/ladda-themeless.min.css')
    link(rel='stylesheet', href='/css/mplus-2c-font.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/dropdown.css')


  body(ng-controller='MainCtrl')

    .wrap
      .frame
        section(ng-include="'timer.html'")
        section(ng-include="'issue.html'")
        section(ng-include="'options.html'")
      section(ng-include="'about.html'")
      section(ng-include="'message.html'")

    .src
      script(src='/scripts/jquery.js')
      script(src='/scripts/bootstrap.js')
      script(src='/scripts/angular.min.js')
      script(src='/scripts/angular-animate.min.js')
      script(src='/scripts/angular-timer.min.js')
      script(src='/scripts/ui-bootstrap-0.7.0.min.js')
      script(src='/scripts/aes.js')
      script(src='/scripts/spin.min.js')
      script(src='/scripts/ladda.min.js')
      script(src='/scripts/google-analytics-bundle.js')

      if production
        script(src='/scripts/script.min.js')
      else
        script(src='/scripts/util.js')
        script(src='/scripts/app.js')
        script(src='/scripts/services/base64.js')
        script(src='/scripts/services/account.js')
        script(src='/scripts/services/redmine.js')
        script(src='/scripts/services/ticket.js')
        script(src='/scripts/services/state.js')
        script(src='/scripts/services/analytics.js')
        script(src='/scripts/services/message.js')
        script(src='/scripts/filters/numLength.js')
        script(src='/scripts/controllers/mainCtrl.js')
        script(src='/scripts/controllers/timerCtrl.js')
        script(src='/scripts/controllers/issueCtrl.js')
        script(src='/scripts/controllers/optionCtrl.js')
        script(src='/scripts/directives/uzDropdown.js')
        script(src='/scripts/directives/uzLoading.js')
        script(src='/scripts/directives/uzCollapse.js')
        script(src='/scripts/directives/gaClick.js')


    span#ruler(style="visibility:hidden;position:absolute;white-space:nowrap;")
