!!! 5
html(ng-app='timeTracker', ng-csp="")

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Redmine Time Tracker
    link(rel='stylesheet', href='/css/lib/angular-csp.css')
    link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/css/lib/ladda-themeless.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/Simple-Line-Icons.css')
    link(rel='stylesheet', href='/css/mplus-2c-font.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/dropdown.css')


  body(ng-controller='MainCtrl')

    div.wrap
      section(ng-show='options.showNavigation', ng-include="'navigation.html'")
      .frame
        section(ng-include="'timer.html'")
        section(ng-include="'issue.html'")
        section(ng-include="'query.html'")
        section(ng-include="'project.html'")
        section(ng-include="'accounts.html'")
        section(ng-include="'options.html'")
      section(ng-include="'about.html'")
      section(ng-include="'message.html'")

    .src
      script(src='/scripts/lib/jquery.min.js')
      script(src='/scripts/lib/bootstrap.min.js')
      script(src='/scripts/lib/angular.min.js')
      script(src='/scripts/lib/angular-animate.min.js')
      script(src='/scripts/lib/angular-timer.min.js')
      script(src='/scripts/lib/ui-bootstrap-0.7.0.min.js')
      script(src='/scripts/lib/aes.js')
      script(src='/scripts/lib/spin.min.js')
      script(src='/scripts/lib/ladda.min.js')
      script(src='/scripts/lib/google-analytics-bundle.js')
      script(src='/scripts/lib/sugar.min.js')
      script(src='/scripts/lib/angular.headroom.min.js')
      script(src='/scripts/lib/headroom.min.js')

      if production
        script(src='/scripts/script.min.js')
      else
        script(src='/scripts/util.js')
        script(src='/scripts/app.js')
        script(src='/scripts/services/base64.js')
        script(src='/scripts/services/chrome.js')
        script(src='/scripts/services/account.js')
        script(src='/scripts/services/redmine.js')
        script(src='/scripts/services/project.js')
        script(src='/scripts/services/ticket.js')
        script(src='/scripts/services/state.js')
        script(src='/scripts/services/analytics.js')
        script(src='/scripts/services/message.js')
        script(src='/scripts/services/option.js')
        script(src='/scripts/services/resource.js')
        script(src='/scripts/services/baseEditState.js')
        script(src='/scripts/services/projectEditState.js')
        script(src='/scripts/services/issueEditState.js')
        script(src='/scripts/services/queryEditState.js')
        script(src='/scripts/filters/numLength.js')
        script(src='/scripts/controllers/mainCtrl.js')
        script(src='/scripts/controllers/timerCtrl.js')
        script(src='/scripts/controllers/issueCtrl.js')
        script(src='/scripts/controllers/queryCtrl.js')
        script(src='/scripts/controllers/projectCtrl.js')
        script(src='/scripts/controllers/accountCtrl.js')
        script(src='/scripts/controllers/optionCtrl.js')
        script(src='/scripts/controllers/aboutCtrl.js')
        script(src='/scripts/directives/uzDropdown.js')
        script(src='/scripts/directives/uzLoading.js')
        script(src='/scripts/directives/uzCollapse.js')
        script(src='/scripts/directives/uzPagination.js')
        script(src='/scripts/directives/uzHeight.js')
        script(src='/scripts/directives/gaClick.js')


    span#ruler(style="visibility:hidden;position:absolute;white-space:nowrap;")
