!!! 5
html(ng-app='timeTracker', ng-csp="")

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Redmine Time Tracker
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/timer.css')
    link(rel='stylesheet', href='/css/dropdown.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')


  body(ng-controller='MainCtrl')

    .wrap

      section(ng-include="'timeTrack.html'")
      section(ng-include="'issue.html'")
      section(ng-include="'options.html'")
      section(ng-include="'about.html'")

      section(ng-include="'message.html'")

    .src
      script(src='/scripts/jquery.js')
      script(src='/scripts/bootstrap.js')
      script(src='/scripts/angular.min.js')
      script(src='/scripts/angular-resource.min.js')
      script(src='/scripts/ui-bootstrap-0.6.0.min.js')
      script(src='/scripts/main.js')
      script(src='/scripts/util.js')
      script(src='/scripts/account.js')
      script(src='/scripts/redmine.js')
      script(src='/scripts/ticket.js')
      script(src='/scripts/timerCtrl.js')
      script(src='/scripts/issueCtrl.js')
      script(src='/scripts/optionCtrl.js')
      script(src='/scripts/google-analytics-bundle.js')
      script(src='/scripts/analytics.js')

