div#issue(ng-controller='IssueCtrl')

  header
    div.caption.hover-action(ng-click="changeMode()", ga-click='changeListMode')
      i.fa.fa-angle-left
      div.title
        div.icon
          span.icon-list
        span {{mode}}
      i.fa.fa-angle-right

  // edit list
  div.animate-switch-container(ng-switch on='mode', uz-auto-height='section')
    section.animate-switch(ng-switch-when="Issues")
      div(ng-include="'editIssueList.html'")
    section.animate-switch(ng-switch-when="Projects")
      div(ng-include="'editProjectList.html'")
