div#issue(ng-controller='IssueCtrl')

  form.form-inline(action='#', role='form')

    div

      // project
      div.form-group.project
        label.sr-only(for='selectProject') Project
        select#selectProject.form-control.input-sm(ng-model='selectedProject'
          , ng-options='project as project.name group by project.account.host for project in projects'
          , ng-change='onProjectChange()')

      // search
      div.form-group.search
        label.sr-only(for='inputIssueNumber') Search
        input#inputIssueNumber.form-control.input-sm(type='search', placeholder='search', ng-model='searchText')

    // issues
    div.issueList
      ul
        li(ng-repeat='issue in issues | filter:issueFilter | orderBy:"id"')
          span.id {{issue.id}}
          span.subject {{issue.subject}}
          button.btn(type='button', ng-click='onClickIssueAdd(issue)', ng-hide='isContained(issue)')
            i.icon-plus-sign
          button.btn(type='button', ng-click='onClickIssueRemove(issue)', ng-show='isContained(issue)')
            i.icon-minus-sign

