div#issue(ng-controller='IssueCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-list
        span Issues

  // edit list
  div.animate-switch-container(uz-auto-height='section')
    div(ng-include="'editIssueList.html'")
