div#issue(ng-controller='IssueCtrl')

  form.form-inline(action='#', role='form')

    div.inputWidhButton

      // project
      div.form-group.project
        label.sr-only(for='selectProject') Project
        select#selectProject.form-control.input-sm(ng-model='selectedProject'
          , ng-options='project as project.name group by project.account.host for project in projects')

      // number
      div.form-group.issueNumber
        label.sr-only(for='inputIssueNumber') Ticket Number
        input#inputIssueNumber.form-control.input-sm(type='search', placeholder='search')

    // add button
    button.btn.iconButton(type='button', ng-click='onClickIssueAdd()')
      i.icon-plus-sign

