headroom(scroller=".wrap", reverse="true")
  ul
    li
      button.btn(ng-click="scroll('timer')")
        div.icon
          span.icon-clock
    li
      button.btn(ng-click="scroll('issue')")
        div.icon
          span.icon-speech
    li
      button.btn(ng-click="scroll('query')")
        div.icon
          span.icon-equalizer
    li
      button.btn(ng-click="scroll('project')")
        div.icon
          span.icon-folder-alt
    li
      button.btn(ng-click="scroll('accounts')")
        div.icon
          span.icon-users
    li
      button.btn(ng-click="scroll('options')")
        div.icon
          span.icon-settings

