headroom(scroller=".wrap",
         reverse="true",
         scroll-spy,
         scroll-doc=".frame",
         offset-top="20",
         offset-bottom="91")
  ul
    li(spy="timer")
      button.btn
        div.icon
          span.icon-clock
    li(spy="issue")
      button.btn
        div.icon
          span.icon-speech
    li(spy="query")
      button.btn
        div.icon
          span.icon-equalizer
    li(spy="project")
      button.btn
        div.icon
          span.icon-folder-alt
    li(spy="accounts")
      button.btn
        div.icon
          span.icon-users
    li(spy="options")
      button.btn
        div.icon
          span.icon-settings

