headroom(scroller=".wrap",
         reverse="true",
         scroll-spy,
         scroll-doc=".frame",
         offset-top="20",
         offset-bottom="91")
  ul
    li(spy="timer", ga-click='scroll_timer')
      button.btn
        div.icon
          span.icon-clock
    li(spy="issue", ga-click='scroll_issue')
      button.btn
        div.icon
          span.icon-speech
    li(spy="query", ga-click='scroll_query')
      button.btn
        div.icon
          span.icon-equalizer
    li(spy="project", ga-click='scroll_project')
      button.btn
        div.icon
          span.icon-folder-alt
    li(spy="accounts", ga-click='scroll_accounts')
      button.btn
        div.icon
          span.icon-users
    li(spy="options", ga-click='scroll_options')
      button.btn
        div.icon
          span.icon-settings

