div#options(ng-controller='OptionCtrl')

  // Host
  .settings-section.form-group
    .setting-labels
      label.control-label
        | URL
      p
        span.setting-description
          | Host Address of the Redmine server which send the time entry.
    .setting-options
      input.form-control.input-sm(type='text', ng-model='option.url', placeholder='ex) http://www.redmine.org')

   // Api key
  .settings-section.form-group
    .setting-labels
      label.control-label
        | API key
      p
        span.setting-description
          | Your API key to access the Redmine server.
    .setting-options
      input.form-control.input-sm(type='text', ng-model='option.apiKey', placeholder='ex) d8a87e90bb6c59aa786c29be18143cdd993f33c5')

   // Save Button
  div.pull-right
    button.btn.btn-default.btn-xs(ng-click='saveOptions()') Save
    button.btn.btn-default.btn-xs(ng-click='clearOptions()') Clear

