div#options(ng-controller='OptionCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-settings
        span Options


  div.settings-section.form-group
    div.setting-labels
      label.control-label Reports Usage
      div.setting-description
        span Automatically send usage statistics and crash reports.
    div.setting-options
      input.btn(type="checkbox", name="reportUsage", ng-model="options.reportUsage")

  div.clear(ng-show='state.debug')
    button.btn.btn-default.btn-sm(ng-click='clearOptions()', ga-click='clear')
      i.fa.fa-exclamation-triangle
      span Clear All
 
