div#options(ng-controller='OptionCtrl')

  form(name='account')

    // Host
    div.url.settings-section.form-group
      .setting-labels
        label.control-label Server URL
      .setting-options
        input.form-control.input-sm(type='text', name='url', ng-model='option.url', ng-class='{invalid:!account.url.$valid}', placeholder='ex) http://www.redmine.org', required)
        span.label.label-danger(ng-show='account.url.$error.required') required!

    div.btn-group.selectAuth
      button.btn.btn-default.btn-xs(type='radio', ng-model='authWay', btn-radio="'id_pass'") ID/Pass
      button.btn.btn-default.btn-xs(type='radio', ng-model='authWay', btn-radio="'api_key'") API key

    div.auth
      div(ng-show="authWay=='id_pass'", ng-include="'template/basic_auth.html'")
      div(ng-show="authWay=='api_key'", ng-include="'template/api_key.html'")

    // Save Button
    div.pull-right.save
      button.btn.btn-default.btn-sm(ng-click='saveOptions()',
                                    btn-loading='isSaving',
                                    data-loading-text='...') Save
      button.btn.btn-default.btn-sm(ng-click='clearOptions()') Clear

