div.modal-header
  h4 Remove Account

div.modal-body
  p
    span {{R.string("dialogRemoveAccountConfirm")}}
  ul
    li {{R.string("dialogRemoveAccountConfirmTicket")}}
    li {{R.string("dialogRemoveAccountConfirmRedmine")}}

div.modal-footer
  button.btn.btn-default.btn-sm(ng-click="ok()") OK
  button.btn.btn-default.btn-sm(ng-click="cancel()") Cancel
