div.modal-header
  h4 Remove Account

div.modal-body
  p
    span {{R.string("dialogRemoveAccountConfirm")}}
  ul
    li {{R.string("dialogRemoveAccountConfirmTicket")}}
    li {{R.string("dialogRemoveAccountConfirmRedmine")}}

div.modal-footer
  button.btn.btn-default(ng-click="ok()", ga-click="removeAccountOk") OK
  button.btn.btn-default(ng-click="cancel()", ga-click="removeAccountCancel") Cancel
