div#timer(ng-controller='TimerCtrl')

  form(action='#', method='POST', name='time_entry')

    // time track
    div.select
      div.inputWidhButton

        // select ticket
        div.dropdown.form-controll(ng-hide="isTracking")
          span.dropdown-toggle(tabindex="0")
          div.dropdown-text {{selectedTicket[0].id}} {{selectedTicket[0].subject}}
          ul.dropdown-content
            li(ng-repeat="ticket in tickets", ng-click="selectedTicket[0] = ticket")
              a
                span {{ticket.id}}
                span {{ticket.subject}}

        // progress
        div.progress.progress-striped.active(ng-show="isTracking")
          .progress-bar.progress-bar-info(style='width:100%')

      // button
      button.btn.iconButton(type='button', ng-click='clickSubmitButton()')
        i.fa(ng-class="{'fa-play': !isTracking, 'fa-stop': isTracking}")

    // comment
    div.comment
      textarea.form-control(name='comment'
        , rows='2'
        , ng-model='comment'
        , ng-maxlength='commentMaxLength'
        , placeholder='comments...'
        , ng-change='commentRemain = commentMaxLength - comment.length')
      div
        span.label.label-danger(ng-show="commentRemain < 0") {{commentRemain}}
