div#timer(ng-controller='TimerCtrl')

  header
    div.caption
      div.icon
        span.icon-clock
      div.title
        span Time Tracking

  form(action='#', method='POST', name='time_entry')

    // time track
    div.select
      div.inputWidhButton

        // select ticket
        div(ng-hide='state.isTracking')
          uz-dropdown(items='tickets', selected='selectedTicket')

        // progress
        div.progress.progress-striped.active(ng-show="state.isTracking")
          div.progress-bar(role="progressbar")
            span {{selectedTicket[0].text}}
            timer(interval="1000") {{hours|numLength:2}}:{{minutes|numLength:2}}:{{seconds|numLength:2}}

      // button
      button.btn(type='button', ng-click='clickSubmitButton()')
        i.fa(ng-class="{'fa-play': !state.isTracking, 'fa-stop': state.isTracking}")

    // comment
    div.comment
      textarea.form-control(name='comment'
        , rows='2'
        , ng-model='comment'
        , ng-maxlength='commentMaxLength'
        , placeholder='comments...'
        , ng-change='commentRemain = commentMaxLength - comment.length')
      div
        span.label.label-danger(ng-show="commentRemain < 0") {{commentRemain}}
