div#timer(ng-controller='TimerCtrl')

  form(action='#', method='POST', name='time_entry')

    div.select
      div.inputWidhButton

        // ticket
        select.form-control.input-sm(name='time_entry'
          , ng-model="selectedTicket"
          , ng-options="'#' + ticket.id + ' ' + ticket.subject group by ticket.project.name for ticket in tickets"
          , ng-hide="isTracking")

        // progress
        div.progress.progress-striped.active(ng-show="isTracking")
          .progress-bar.progress-bar-info(style='width:100%')

      // button
      button.btn.iconButton(type='button', ng-click='clickSubmitButton()')
        i(ng-class="{'icon-play-sign': !isTracking, 'icon-stop': isTracking}")

    // comment
    div.comment
      textarea.form-control(name='comment'
        , rows='2'
        , ng-model='comment'
        , ng-maxlength='commentMaxLength'
        , placeholder='comments...'
        , ng-change='commentRemain = commentMaxLength - comment.length')
      div
        span.label(ng-class="{'label-info': commentRemain >= 0, 'label-danger': commentRemain < 0}") {{commentRemain}}
