div#timer(ng-controller='TimerCtrl')

  header
    div.caption(ng-click="changeMode()")
      div.icon(ng-switch on="mode")
        span.icon-clock(ng-switch-when="auto")
        span.icon-note(ng-switch-when="manual")
      div.title
        span Time Tracking

  form(action='#', method='POST', name='time_entry')

    div(ng-switch on="mode")
      section.animate-switch(ng-switch-when="auto", ng-include="'auto.html'")
      section.animate-switch(ng-switch-when="manual", ng-include="'manual.html'")

