div#timer(ng-controller='TimerCtrl')

  form(action='#', method='POST', name='time_entry')

    // time track
    div.select
      div.inputWidhButton

        // select ticket
        div(ng-hide='isTracking')
          dropdown(items='tickets', selected='selectedTicket')

        // progress
        div.progress.progress-striped.active(ng-show="isTracking")
          div.progress-bar(style='width:100%')

      // button
      button.btn.iconButton(type='button', ng-click='clickSubmitButton()')
        i.fa(ng-class="{'fa-play': !isTracking, 'fa-stop': isTracking}")

    // comment
    div.comment
      textarea.form-control(name='comment'
        , rows='2'
        , ng-model='comment'
        , ng-maxlength='commentMaxLength'
        , placeholder='comments...'
        , ng-change='commentRemain = commentMaxLength - comment.length')
      div
        span.label.label-danger(ng-show="commentRemain < 0") {{commentRemain}}
