div#timer(ng-controller='TimerCtrl')

  form(action='#', method='POST', name='time_entry')

    div.select
      div.inputWidhButton

        div.dropdown.form-controll
          span.dropdown-toggle(tabindex="0")
          div.dropdown-text {{selectedTicket[0].id}} {{selectedTicket[0].subject}}
          ul.dropdown-content
            li(ng-repeat="ticket in tickets", ng-click="selectedTicket[0] = ticket")
              a
                span {{ticket.id}}
                span {{ticket.subject}}

        // progress
        div.progress.progress-striped.active(ng-show="isTracking")
          .progress-bar.progress-bar-info(style='width:100%')

      // button
      button.btn.iconButton(type='button', ng-click='clickSubmitButton()')
        i(ng-class="{'icon-play-sign': !isTracking, 'icon-stop': isTracking}")

    // comment
    div.comment
      textarea.form-control(name='comment'
        , rows='2'
        , ng-model='comment'
        , ng-maxlength='commentMaxLength'
        , placeholder='comments...'
        , ng-change='commentRemain = commentMaxLength - comment.length')
      div
        span.label(ng-class="{'label-info': commentRemain >= 0, 'label-danger': commentRemain < 0}") {{commentRemain}}
