div#timer(ng-controller='TimerCtrl')

  div.animate-switch-container(ng-switch on="mode")
    section.animate-switch(ng-switch-when="auto")
      include auto
    section.animate-switch(ng-switch-when="manual")
      include manual
