div#timer(ng-controller='TimerCtrl')

  div.animate-switch-container(ng-switch on="mode")
    section.animate-switch(ng-switch-when="auto")
      div(ng-include="'auto.html'")
    section.animate-switch(ng-switch-when="manual")
      div(ng-include="'manual.html'")
