<!doctype html>
<html>
  <head>
    <title>Redmine Time Tracker Options</title>

    <link rel="stylesheet" href="../styles/options.css">

  </head>
  <body>

    <div id="general" class="page pageSelected">
      <header id="page-header">
        <h1>General Settings</h1>
      </header>

      <!-- Debug toggle -->
        <div id="debugModeSettingSection" class="settings-section">

          <h3>Api Key</h3>
          <span class="setting-description">
            Please input your Redmine Api Key.
          </span>

          <div class="setting-value">
            <input id="apiKey" type="text" name="apiKey">
          </div>

        </div><!-- END Extension settings for General Page -->
    </div><!-- END GENERAL SECTION -->

    <script src="../javascript/options.js"></script>
  </body>
</html>
