<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Redmine Time Tracker</title>
  <link rel="stylesheet" href="/styles/bootstrap.css"/>
  <link rel="stylesheet" href="/styles/timer.css"/>
  <link rel="stylesheet" href="/css/font-awesome.css">
</head>

<body>

  <div id="wrap">
    <section id="timeForm">
      <form action="#" method="POST" name="time_entry">
        <div id="select">
          <select id="issueSelect" name="time_entry[issue_id]" class="form-control input-sm"></select>
          <div id="issueLoading" class="progress progress-striped active" style="display: none;">
            <div class="progress-bar progress-bar-info" style="width:100%"></div>
          </div>
        </div>
        <button type="button" id="submitButton" class="btn iconButton">
          <i id="buttonTimer" class="icon-play-sign"></i>
        </button>
        <div id="comment">
          <textarea name="comment" rows="2" class="form-control" placeholder="comments..."></textarea>
          <span id="commentCount" class="label label-info">0</span>
        </div>
        <div id="message"></div>
      </form>
    </section>

    <section id="issueForm">
      <form action="#" class="form-inline" role="form">
        <div id="issue">
          <label class="sr-only" for="inputIssueNumber">Search</label>
          <input type="search" class="form-control input-sm" id="inputIssueNumber" placeholder="# ticket number">
        </div>
        <button type="submit" class="btn btn-default btn-sm" id="issueSearchButton" data-loading-text="Loading">Search</button>
      </form>
      <form action="#" role="form">
        <div id="issueList" class="result checkbox" ></div>
        <button id="issueAddButton" type="submit" class="btn iconButton">
          <i class="icon-plus-sign"></i>
        </button>
      </form>
      </div>
    </section>

    <section id="Log">
    </section>
  </div>

  <div class="src">
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/timer.js"></script>
    <script src="/scripts/analytics.js"></script>
  </div>

</body>
</html>
