<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Redmine Time Tracker</title>
  <link rel="stylesheet" href="/styles/bootstrap.css"/>
  <link rel="stylesheet" href="/styles/timer.css"/>
  <link rel="stylesheet" href="/css/font-awesome.css">
</head>

<body>
  <div id="issueForm">
    <form action="#" method="POST" name="time_entry">
      <div id="select">
        <select id="issueSelect" name="time_entry[issue_id]" class="form-control input-sm"></select>
        <img id="issueLoading" src="/images/animation/loading-bar.gif" alt="" style="display: none;"/>
      </div>
      <button type="button" id="submitButton" class="btn">
        <i id="buttonIcon" class="icon-play-sign"></i>
      </button>
      <div id="comment">
        <textarea name="comment" rows="2" class="form-control" placeholder="comments..."></textarea>
        <span id="commentCount" class="label label-info">0</span>
      </div>
      <div id="message"></div>
    </form>
  </div>

  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/timer.js"></script>
  <script src="/scripts/analytics.js"></script>
</body>
</html>
