<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/styles/popup.css"/>
</head>

<body>
  <div id="issueForm">
    <form action="#" method="POST" name="time_entry">
      <select id="issueSelect" name="time_entry[issue_id]"></select>
      <button type="button" id="submitButton"></button>
    </form>
  </div>

  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/timer.js"></script>
  <script src="/scripts/analytics.js"></script>
</body>
</html>
