@keyframes to-color_key
  from
    background-color: $color_key_weak
  to
    background-color: $color_key

.btn
  background-color: transparent
  padding: initial
  outline: none !important
  box-shadow: none
  .active
    box-shadow: none
  &.loading
    span
      display: inline-block
      opacity: 0

.btn-default
  transition: background-color .2s ease
  &:focus
    background-color: transparent
  &:hover
    background-color: #eee

.btn-color
  color: snow
  background-color: $color_key_weak
  &:hover
    animation: to-color_key .2s ease
    background-color: $color_key
