.icon-search::-webkit-search-decoration::before
  fa()
  content: "\f002"
  position: relative
  right: 0.55rem
  color: #aaa
  transition: color .2s ease

.icon-search:hover::-webkit-search-decoration::before
.icon-search:focus::-webkit-search-decoration::before
  color: #777
