.list
  list-style-type: none
  display: flex

.list-item
  width: 5rem
  flex-grow: 1
  flex-shrink: 1

.list-item__label
  text-ellipsis()

.list-item__description
  color: #aaa
  font-size: 1.1rem
  padding-left: 0.5rem
  text-ellipsis()

  span
    margin-right: .7rem

.list-item__id
  &:before
    content: "ID: "

.tt-cursor .list-item__id
  color: #fff

.list-item__project
  &:before
    content: "Projects: "

.list-item__url
  &:before
    content: "URL: "

.list-item__button--hover
  font-size: 1.3rem
