.modal-header
  padding: 1rem 1.5rem
  h4
    margin: .5rem 0

.modal-body
  padding: 1.5rem
  font-size: 1.25rem
  ul
    padding-left: 2.5rem
    margin-bottom: 0

.modal-footer
  margin-top: 0
  padding: 1.0rem
  text-align: center
  display: flex

  .btn
    width: .7rem
    height: 2.4rem
    padding: 0
    margin: .2rem .3rem
    font-size: 1.2rem
    outline: none !important
    color: $color_font
    box-shadow: none
    flex-grow: 1
    flex-shrink: 1

