.numbered-label
  color #555
  border: none
  padding: 0 .3rem 0 0
  background-color: transparent
  outline: none
  display: flex
  flex: 1

.numbered-label__number
  padding-right: 0.5rem
  min-width: 2rem
  text-align: right
  color #aaa

.numbered-label__label
  width: 10rem
  flex: 1
  text-align: left
  text-ellipsis()

.numbered-label__star
  font-size: 1.2rem
  padding-right: 0.2rem
