uz-pagination
  display: flex

.pagination
  margin: 1rem 0
  width: 100%
  display: flex
  justify-content: center
  &>li:nth-child(1)>a
  &>li:nth-last-child(1)>a
    padding: .2rem .6rem
  &>li:nth-child(2)>a
  &>li:nth-last-child(2)>a
    padding: .2rem .8rem
  &>li>a
    border: none
    border-radius: 1.2rem
    padding: .2rem .7rem
    margin: 0 .2rem
    color: #666
    cursor: pointer
  &>.active>a
    background-color: $color_key_weak
    color: #fff
  &>.disabled>a
    color: #ccc
    cursor: not-allowed

.pagination--stretch>li
  display: flex
  flex-grow: 1
  justify-content: center
  &:nth-child(1)
  &:nth-child(2)
  &:nth-last-child(1)
  &:nth-last-child(2)
    flex-grow: inherit
