input[type=checkbox].switch
input[type=radio].switch
  -webkit-appearance: none
  box-shadow: inset 0 0 0 .1rem #e6e6e6
  border-radius: 1.5rem
  background-color: #fff
  padding: .1rem
  margin: -0.8rem
  display: inline-block
  width: 5.2rem
  height: 3.1rem
  position: relative
  cursor: pointer
  transition: all .3s ease-out
  -webkit-transform: scale(.7) // Adjust size
  outline: none
  border: none

  &:checked
    box-shadow: inset 0 0 0 2rem #f57f87

  &:after
    content: ''
    position: absolute
    width: 2.9rem
    height: 2.9rem
    border-radius: 1.5rem
    box-shadow: 0 .2rem .2rem .1rem rgba(0,0,0,.2)
    cursor: pointer
    background-color: #fff
    left: .1rem
    transition: ease-in .1s

  &:checked:after
    left: 2.2rem

