.tooltip

  h6
   font-size: $font_size_tooltip_title

  color_tooltip = #e0e0e0

  &.in
    opacity: 1

  &.top .tooltip-arrow
    border-top-color:    color_tooltip

  &.bottom .tooltip-arrow
    border-bottom-color: color_tooltip

  &.right .tooltip-arrow
    border-right-color:  color_tooltip

  &.left .tooltip-arrow
    border-left-color:   color_tooltip

  .tooltip-inner
    font-size: $font_size_tooltip_attrs
    color: #555
    text-align: left
    background-color: color_tooltip
