.well-container
  margin: 0 -1rem
  position: relative
  &:before
    content: " "
    width: 0
    height: 0
    border: 1rem solid transparent
    border-top: 1rem solid #fff
    position: absolute
    top: -0.1rem
    right: 1rem
    -webkit-filter: drop-shadow(0 .2rem .1rem rgba(0,0,0,0.1))

.well
  margin-bottom: 1rem
  padding: 1.5rem 0 1.5rem 0
  border-radius: 0
