 // Api key
.settings-section.form-group
  .setting-labels
    label.control-label API key
  .setting-options
    input.form-control.input-sm(type='text', ng-model='option.apiKey', placeholder='ex) d8a87e90bb6c59aa786c29be18143cdd993f33c5')

