// Host
.settings-section.form-group.url(ng-include="'template/url.html'")

// id
.settings-section.form-group
  .setting-labels
    label.control-label User ID
  .setting-options
    input.form-control.input-sm(type='text', ng-model='option.id', placeholder='ex) admin')

 // pass
.settings-section.form-group
  .setting-labels
    label.control-label Password
  .setting-options
    input.form-control.input-sm(type='password', ng-model='option.pass', placeholder='ex) passw0rd')

// Name
.settings-section.form-group(ng-include="'template/name.html'")
