.setting-labels
  label.control-label Number of projects

.setting-options
  input.form-control.input-sm(type='number',
    name='numProjects',
    placeholder="Number of projects to fetch",
    min="25",
    ng-model='authParams.numProjects')
