.btn
  background-color: transparent
  padding: initial
  outline: none !important
  box-shadow: none
  .active
    box-shadow: none
  &.loading
    background-color: #ebebeb
    border-color: #adadad


.btn-default:focus
   background-color: transparent

.btn-default:hover
   background-color: #ebebeb

