.icon-search::-webkit-search-decoration::before
  fa()
  content: "\f002"
  position: relative
  left: -5px
  color: #aaa
  transition: color .2s ease

.icon-search:hover::-webkit-search-decoration::before
.icon-search:focus::-webkit-search-decoration::before
  color: #777

.icon-cross:before
  content: "+"
  display:inline-block
  width: 100%
  -webkit-transform: rotate(45deg)

.icon-minus
  display: inline-block
  width: 100%
  height: 1em
  line-height: 1
  position: relative
  width: 1em
  border-radius: 50%
  border: solid 1px
  margin: -5px 0 0 0
  vertical-align: middle
  background-image: -webkit-gradient(linear,left center,right center,from(#aaa),to(#aaa));
  background-size: 70% 1px;
  background-repeat: no-repeat;
  background-position: 45% 50%;

