.list-item
  width: 100%
  flex: 1

.list-item__label
  text-ellipsis()

.list-item__description
  color: #aaa
  font-size: 0.9em
  padding-left: 0.5em
  text-ellipsis()

  span
    margin-right: 10px

.list-item__id
  &:before
    content: "id: "
    margin-left: 0.5em

.tt-cursor .list-item__id
  color: #fff

.list-item__project
  &:before
    content: "projects: "
    margin-left: 0.5em

.list-item__url
  &:before
    content: "url: "
    margin-left: 0.5em
