.modal-header
  padding: 10px 15px
  h4
    margin: 5px 0

.modal-body
  padding: 15px
  ul
    padding-left: 25px
    margin-bottom: 0

.modal-footer
  margin-top: 0
  padding: 10px
  text-align: center
  display: flex

  .btn
    width: 7em
    height: 24px
    padding: 0
    margin: 2px 3px
    font-size: 1em
    outline: none !important
    color: $color_font
    box-shadow: none
    flex-grow: 1
    flex-shrink: 1

