.modal-header
  padding: 10px 15px
  h4
    margin: 5px 0

.modal-body
  padding: 15px
  ul
    padding-left: 25px
    margin-bottom: 0

.modal-footer
  margin-top: 0
  padding: 10px
  text-align: center

  .btn
    outline: none !important
    color: color_button_font
    box-shadow: none

  .btn-sm
    line-height: 1.2
    width: 7em

