uz-pagination
  display: flex
  justify-content: center

.pagination
  margin: 10px 10px
  width: auto
  display: flex
  justify-content: space-between
  &>li:nth-child(1)>a
  &>li:nth-last-child(1)>a
    padding: 2px 6px
  &>li:nth-child(2)>a
  &>li:nth-last-child(2)>a
    padding: 2px 8px
  &>li>a
    border: none
    border-radius: 12px
    padding: 2px 7px
    margin: 0 2px
    color: #666
    cursor: pointer
  &>.active>a
    background-color: $color_key_weak
    color: #fff
  &>.disabled>a
    color: #ccc
    cursor: not-allowed
