.tooltip

  color_tooltip = #f0f0f0

  &.in
    opacity: 1

  &.top .tooltip-arrow
    border-top-color:    color_tooltip

  &.bottom .tooltip-arrow
    border-bottom-color: color_tooltip

  &.right .tooltip-arrow
    border-right-color:  color_tooltip

  &.left .tooltip-arrow
    border-left-color:   color_tooltip

  .tooltip-inner
    color: #555
    text-align: left
    background-color: color_tooltip
