.well-container
  margin: 0 -10px
  position: relative
  &:before
    content: " "
    width: 0
    height: 0
    border: 10px solid transparent
    border-top: 10px solid #fff
    position: absolute
    top: -1px
    right: 10px
    -webkit-filter: drop-shadow(0 2px 1px rgba(0,0,0,0.1))

.well
  margin-bottom: 10px
  padding: 15px 0 10px 0
  border-radius: 0
