#about

  div.caption
    span Redmine
    span Time
    span Tracker
  div.version
    if electron == true
      - var $edition = "Electron edition"
    else
      - var $edition = "Chrome app edition"
    - var $ver = "Ver. " + version
    span= $edition
    span= $ver

  footer
    p.muted
     | &copy; 2013 Yujiro Takeda
