!!! 5
html(ng-app='timeTracker', ng-csp="", ng-controller='MainCtrl')

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title(ng-bind="state.title")
    // bower
    link(rel='stylesheet', href='../components/angular/css/angular-csp.css')
    link(rel='stylesheet', href='../components/bootstrap/css/bootstrap.min.css')
    // other
    link(rel='stylesheet', href='../css/lib/font-awesome.min.css')
    link(rel='stylesheet', href='../css/lib/simple-line-icons.css')
    if production
      link(rel='stylesheet', href='../css/main.css')
    else
      link(rel='stylesheet', href='../css/mplus-2c-font.css')
      link(rel='stylesheet', href='../css/main.css')

    // svg
    include ../../app/images/tomato.svg

    if electron
      script.
        window.jQuery = window.$ = require('../components/jquery/js/jquery.min.js');

  body

    div.wrap
      section.header
        include _header
      div.content.bottom-space-m
        section
          include _timer
        section
          include _issue
        section
          include _accounts
        section
          include _options
      section.footer
        include _about
      section
        include _message

    .src
      // bower
      unless electron
        script(src='../components/jquery/js/jquery.min.js')
      script(src='../components/angular/js/angular.min.js')
      script(src='../components/angular-route/angular-route.js')
      script(src='../components/angular-animate/js/angular-animate.min.js')
      script(src='../components/sugar/sugar.min.js')
      script(src='../components/angular-typeahead/angular-typeahead.js')
      script(src='../components/typeahead.js/typeahead.bundle.js')
      script(src='../components/angular-bootstrap/js/ui-bootstrap.min.js')
      script(src='../components/angular-timer/js/angular-timer.min.js')
      script(src='../components/jquery-timepicker-jt/js/jquery.timepicker.min.js')
      script(src='../components/angular-jquery-timepicker/js/timepickerdirective.min.js')
      script(src='../components/angular-translate/js/angular-translate.min.js')
      script(src='../components/angular-translate-loader-static-files/js/angular-translate-loader-static-files.min.js')

      // other
      script(src='../scripts/lib/aes.js')
      if electron
        script(src='../scripts/lib/analytics.js')
      else
        script(src='../scripts/lib/google-analytics-bundle.js')

      if production
        script(src='../scripts/script.js')
      else
        script(src='../scripts/util.js')
        script(src='../scripts/app.js')
        script(src='../scripts/log.js')
        script(src='../scripts/state.js')
        script(src='../scripts/services/const.js')
        script(src='../scripts/services/base64.js')
        if electron
          script(src='../scripts/services/electronPF.js')
        else
          script(src='../scripts/services/chromePF.js')
        script(src='../scripts/services/account.js')
        script(src='../scripts/services/redmine.js')
        script(src='../scripts/services/project.js')
        script(src='../scripts/services/ticket.js')
        script(src='../scripts/services/analytics.js')
        script(src='../scripts/services/message.js')
        script(src='../scripts/services/option.js')
        script(src='../scripts/services/resource.js')
        script(src='../scripts/services/issueLoader.js')
        script(src='../scripts/services/eventDispatcher.js')
        script(src='../scripts/services/dataAdapter.js')
        script(src='../scripts/services/pluginManager.js')
        script(src='../scripts/filters/numLength.js')
        script(src='../scripts/filters/limitTo.js')
        script(src='../scripts/filters/checked.js')
        script(src='../scripts/controllers/mainCtrl.js')
        script(src='../scripts/controllers/headerCtrl.js')
        script(src='../scripts/controllers/timerCtrl.js')
        script(src='../scripts/controllers/issueCtrl.js')
        script(src='../scripts/controllers/accountCtrl.js')
        script(src='../scripts/controllers/optionCtrl.js')
        script(src='../scripts/directives/uzLoading.js')
        script(src='../scripts/directives/uzPagination.js')
        script(src='../scripts/directives/uzFocus.js')
        script(src='../scripts/directives/uzHover.js')
        script(src='../scripts/directives/uzCarousel.js')
        script(src='../scripts/directives/uzOpenLink.js')
        script(src='../scripts/directives/gaClick.js')
        script(src='../scripts/config.js')
        script(src='../scripts/plugins/timerNotification.js')

    span#ruler(style="visibility:hidden;position:absolute;white-space:nowrap;")
